# Build results
bin
obj

# --- Java / Maven ---
**/target/
*.class

# --- .NET / C# ---
**/bin/
**/obj/
.vs/

# Visual Studio files
.vs
.user
.suo
.userosscache
.sln.docstates

# --- Intellij
.idea/

# Visual Studio Code settings
.vscode

# NuGet packages
.nupkg
packages

# Dotnet publish output
publish

# Logs
.log

# Resharper
_ReSharper
.DotSettings.user

# Backup files
~
.bak

# MacOS
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Temporary files
.tmp

create_leetcode_problem.sh